@import 'css/colors';
@import 'css/colorscheme';
@import 'images/svg/color.scss';

@function tint($color, $percentage) {
  @return mix(rgb(245, 250, 255), $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(rgb(0, 7, 18), $color, $percentage);
}

$battcolor: $colorbar;
$memcolor: $color1;
$cpucolor: $color3;
$border: $color7;
$surface0: tint($colorbg, 10%);
$bg1: $surface0;





@mixin rounding {
  border-radius: 8px;
}



@mixin window {
  border: 3px solid $color7;
  // box-shadow: 0 2px 3px $shadow;
  margin: 5px 5px 10px;
  @include rounding;
}


@import 'css/osettings';

